.homePage{
  width: 500px;
  align-content: center;
}
.homePage p{
  text-align: center;
  font-family: Courier;
  color: black;
  font-size:40px;
}
.homePage img{
  width:540px; /* you can use % */
  height: 500px;
}
.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
    position:absolute;
    bottom:0;
    right:0;

}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.commentList li {

    margin:0;
    margin-top:10px;
    user-select: none;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.last{
  margin-bottom: 20px;
}
.commentText p {
  font-family: Courier;
	color: black;
	font-size:15px;

}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
