<!DOCTYPE html>
<html>
<!--Google -Fonts-->
<head>

  <link href='http://fonts.googleapis.com/css?family=Sintony:400,700&subset=latin-ext' rel='stylesheet'/>
<!--Font-awesome-->
   <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" async></script>
  <script type="text/javascript" src="script.js" async></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" async></script>
</head>
<body>
<div class="container">
   <header>
    <h2>Sushi Munkebäck</h2>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
   </header>

   <div class="xs-menu-cont">
   <a id="menutoggle"><i class="fa fa-align-justify"></i> </a>
    <nav class="xs-menu displaynone">
     <ul>
      <li>
       <a href="#">Booking</a>
      </li>
     </ul>
    </nav>
   </div>
   <nav class="menu">
    <ul>
     <li>
      <a href="/booklists" id="listbooking">Booking</a>
     </li>
         <li style="float:right;">
          </li>
     <div class="usercreate">
      <p>Need an account? <a href="userCreation">Signup</a></p>
     </div>
    </ul>
   </nav>
  </div>


<!-- <div id="booklists"></div>

 <script>
  $("#listbooking").on("click", function(){
   $("#booklists").load("booklists");
  });
 </script> -->
</body>
</html>
