<!DOCTYPE html>
<html>
<body>
<head>
	<!-- script  -->
	<script type="text/javascript" src="javascripts/sorttable.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/bookinglist.css"/>
	<!-- title for tab -->
	<title> Bookings </title>
	<h1> List of all Bookings </h1>
</head>
<!-- back button  -->
<button class ="buttonback" onclick="goBack()"> Go Back</button>
<!-- sortable table  -->
<table class="sortable" id="tablebook" border="1" bordercolor="#000000"  width="400" cellpadding="3" cellspacing="3">
  <tr>
    <th width="150">Name</th>
		<th width="150">Amount of seats</th>
		<th width="150">Date booked</th>
		<th width="150">Time booked</th>
    <th width="150">Phone number</th>
  </tr>
	{{#bookinglist}}
  <tr>
		<td width="150" >{{name}}</td>
		<td width="150">{{seats}}</td>
    <td width="150">{{bookingdate}}</td>
		<td width="150">{{bookingtime}}</td>
			<td width="150">{{phone}}</td>
		</tr>
						{{/bookinglist}}
</table>
</body>
<script>
function goBack() {
    window.history.back("/admin-page");
}
</script>

</html>
