<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="stylesheets/information.css"/>
<script type="text/javascript" src="javascripts/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>

<html>
<head>
	<meta charset="UTF-8">
	<title>About us</title>
</head>
<body>
  <h1>About us</h1>
	<ul class="list-item-1">
   <li>Phone nr: 031-212805</li>
   <li>Adress: Ahrenbergsgatan 9</li>
   <li>416 73 Göteborg</li>
   <li>info@sushimunkeback.se</li>
 </ul>
<div class="mapping" id="map">
</body>

</html>
